
/* COMMON STYLES */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #efefef;
    background-color: #222;
    min-height: 100vh;
    display: grid;
    color: #e0e0e0;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}


/* Fake app-specific styles */
header {
    padding: 0.5em 1em;
    border-bottom: 1px solid #efefef;
    min-height: 3rem;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header ul li {
    cursor: pointer;
}

#logo img {
    width: 3rem;
}

main {
    background: #000;
    padding: 2em 4em;
    display: grid;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-inline: auto;
    font-family: "Luckiest Guy", sans-serif;
}

main div {
    padding: 2em 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-block: auto;
}

main div p:first-child {
    grid-row: 1 / 3;
    margin-block: auto;
}

p {
    margin: 1rem;
    max-width: 40ch;
}

footer {
    background-color: #000;
    color: #999;
    display: grid;
    place-items: center;
    font-style: italic;
    padding: 0 2em;
    min-height: 3rem; 
}

@media only screen and (max-width: 500px) {
    main div {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}